body{
  /* background-color: red; */
  background-image: url("../assets/medio_inestable_3d_solo.png");
  background-blend-mode: multiply;
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: top;
}


.div-central{
  display: none;
  width: 60%;
  position: absolute;
  left: 50%;
  transform: translate(-50%,-50%);
  top: 50%;
}

.div-central img{
  width: 100%;
  mix-blend-mode: multiply;
}
